
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.footer_new{
    height: 160px !important;
    background-color: rgb(34, 191, 202) !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    flex-wrap: wrap;
   
}
.footer_black{
    height: 300px !important;
    background-color: rgb(81, 85, 77) !important;
    background-image: url("./bac.jpeg");
 background-size: cover;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 flex-wrap: wrap;


}
.btn-col1{
padding-left: 40px !important;
padding-right: 40px !important;
border-color:rgb(243, 86, 86) !important ;

}
.margin__left{
    padding-left: 30px;
   
}

.background__image1{
background-image: url("../shop2.svg");
height: 400px;

}
.textbold{
font-style: monospace !important;
font-size: 30px;
font-weight: bolder !important;
padding-top: 0px !important;

margin-left: 0px;
}
.phone{
    color: rgb(243, 86, 86) !important ;
    font-weight: bolder;
    font-size: 16px;
}
.arrow2{
    color: rgb(243, 86, 86) !important ;
    font-size: 40px;
    padding-bottom: 1px;
   
.adjust{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
  
}
.red{
    display: block;
    border-radius: 20px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}
    
}
.text{
    color: white !important;
    font-size: 12px;
   
}
.text3{
    color: white !important;
    font-size: 12px;
    text-align: left;
    padding-left: 10px;
   
}


.text2{
        color: white !important;
        font-size: 14px;
        
       
}

.in{
    display: flex;
    align-items: center;
    background-color: aliceblue;
    height: 39px;
    padding: 10px;
    width: 100%;
    border-radius: 20px;
    margin: 16px ;

}

.txt{
    display: flex;
    align-items: center;
    background-color:aliceblue;

    padding: 10px;
}

.btn-get-started{
    background: white;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 50px;
    transition: 0.5s;
    color:rgb(243, 86, 86);
    border: 2px solid;
}

.btn-get-started:hover{
    background: rgb(243, 86, 86);
    color:white ;
}